# Xcode
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xcscmblueprint

# SwiftPM
.build/
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# Xcode Patch
*.xcodeproj/project.xcworkspace/xcuserdata
*.xcodeproj/xcuserdata
*.xcworkspace/xcuserdata

# User-specific files
*.moved-aside
*.xcuserstate
*.swp
*.swo

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Other
*.orig
*.log
.idea/ 